@charset "utf-8";
$green:#2ecc71;
$deep_green:#2ECC71;
$blue:#3498DB;
$deep_blue:#2890B9;
$red:#e74c3c;
$deep_red:#c0392b;
$grey1:#ecf0f1;
$grey2:#bdc3c7;
$grey3:#95a5a6;
$grey4:#7f8c8d;
$grey5:#34495e;
$grey6:#2c3e50;
$bgcolor:rgb(240,240,240);
$contain:rgb(249,249,249);
$border_color:rgb(219,219,219);
$orange:#f88f55;

$font-color:#bbb;

.course{
  width: 85%;
  .breadcrumb-main{
    .breadcrumb{
      background-color: white;
    }

  }

  .select-menu{
    color: white;
    .select {
      background-color: white;
      padding: 5px 10px;
      border: #ddd 1px solid;
      border-radius: 4px;
      font-size: 12px;
      li {            //处于同级
        list-style: none;
        padding: 10px 0 5px 100px;
      }
      .select-list {
        border-bottom: #eee 1px dashed;
      }
      dl {
        zoom: 1;
        position: relative;
        margin-bottom: 10px;
        //line-height: 24px;
        &:after {
          content: " ";
          display: block;
          clear: both;
          height: 0;
          overflow: hidden;
        }

        dt {      //小标题
          width: 100px;
          margin-bottom: 5px;
          position: absolute;
          top: 0;
          left: -100px;
          text-align: right;
          color: #666;
          height: 24px;
          line-height: 24px;
        }
        dd {
          line-height: 24px;
          float: left;
          display: inline;
          margin: 0 0 5px 5px;
          a {
            display: inline-block;
            white-space: nowrap;
            height: 24px;
            padding: 0 10px;
            text-decoration: none;
            border-radius: 2px;
            &:hover {
              color: white;
              background-color: $green;
            }
          }
        }
      }

      .selected a {           //被选中
        color: #fff;
        background-color: $deep_green;
      }
    }

    .select-result{
      dt{
        font-weight: bold;
      }

      .select-no {
        color: #999;
      }
    }
    .select .select-result a {
      padding-right: 20px;
      background: $green url("../images/close.gif") right 9px no-repeat;
      &:hover {
        background-position: right -15px;
      }
    }



  }

  .course-body{
    background-color: white;

    .courses-sort{
      padding:10px;
      font-size: 12px;
      color: $grey3;
      margin-left: 10px;
      li{
        cursor: pointer;
        border-width: 1px;
        padding: 5px;
        border-radius: 3px;
        &:hover{
          border-width: 1px;
          background-color: $green;
          color: white;
        }
      }
    }

    .floor{
      ul{                  //我希望他可以完全铺开
        margin-left: 23px;
        //margin-right: auto;
        padding-left: 0px;

        li{
          float: left;
          margin-right: 20px;
          margin-bottom: 20px;
          border: 3px solid #eee;
          color: $font-color;
          font-size: 12px;
          width: 250px;
          &:hover{
            transition-duration: 0.5s;
            border: 3px solid $green;
          }
          div{
            margin: 10px 15px;
          }
          .image{
            overflow: hidden;
            //width: 160px;
            //height: 120px;
            img{
              cursor: pointer;
              transform-origin: center;
              width: 210px;
              height: 160px;
              transition-duration: 1s;
              &:hover{
                transform:scale(1.2);
              }
            }

          }
          .title{
            color: black;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;    //文本不换行
            text-overflow: ellipsis;
            //color: red;
            //word-break:keep-all;     //正文本不换行，最高级别
          }
          .price{
            font-size: 17px;
            color: $orange;
          }
          .add{
          }
          .line{
            margin: auto;
            width: 85%;
            border-top: 2px $font-color solid;
          }
          .src{
            padding-top: 5px;
            //margin: 10px;
          }
        }
      }
    }



  }
}








