.content{
  .main-content{
    .user-img{
      text-align: center;
      .btn{
        margin-top: 10px;
      }
    }
    .user-info{
      font-size: 15px;
      div{
        margin: 10px;
      }
      span{
        margin: 10px;
      }
    }
  }
}