//Index
$green:#2ecc71;
$deep_green:#2ECC71;
$blue:#3498DB;
$deep_blue:#2890B9;
$red:#e74c3c;
$deep_red:#c0392b;
$grey1:#ecf0f1;
$grey2:#bdc3c7;
$grey3:#95a5a6;
$grey4:#7f8c8d;
$grey5:#34495e;
$grey6:#2c3e50;
$bgcolor:rgb(240,240,240);
$contain:rgb(249,249,249);
$border_color:rgb(219,219,219);